<%inherit file="base_ajax.htm" />

<%block name="content">

  <a href="/manager/rentals.email/" class="btn btn-primary">Send Email</a>

  <h2>Over 30</h2>

  <table class="table table-striped">

    <thead>
      <th>Rental</th>
      <th>Due Date</th>
    </thead>

    <tbody>

      %for r in over_30:

        <tr>

          <td>${ r.description }</td>
          <td>${ r.due_date }</td>

        </tr>

      %endfor

    </tbody>

    <tfoot>
      <td></td>
      <td></td>
      <td></td>
    </tfoot>

  </table>

  <h2>Over 60</h2>

  <table class="table table-striped">

    <thead>
      <th>Rental</th>
      <th>Due Date</th>
    </thead>

    <tbody>

      %for r in over_60:

        <tr>

          <td>${ r.description }</td>
          <td>${ r.due_date }</td>

        </tr>

      %endfor

    </tbody>

    <tfoot>
      <td></td>
      <td></td>
      <td></td>
    </tfoot>

  </table>

  <h2>Over 90</h2>

  <table class="table table-striped">

    <thead>
      <th>Rental</th>
      <th>Due Date</th>
    </thead>

    <tbody>

      %for r in over_90:

        <tr>

          <td>${ r.description }</td>
          <td>${ r.due_date }</td>

        </tr>

      %endfor

    </tbody>

    <tfoot>
      <td></td>
      <td></td>
      <td></td>
    </tfoot>

  </table>

</%block>
