<%inherit file="base.htm" />

<%block name="center">
    <div class="container">

            <!-- Jumbotron Header -->
            <header class="jumbotron hero-spacer">
                <h1>${ event.name }</h1>
                <p> ${ event.description }</p>
                <p><a class="btn btn-primary btn-large">'Merica'!</a>
                </p>
            </header>

            <hr>

            <!-- Title -->
            <div class="row">
                <div class="col-lg-12">
                    <h3>Featured Areas</h3>
                </div>
            </div>
            <!-- /.row -->

            <!-- Page Features -->
            <div class="row text-center items">

              %for area in areas:

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img class="item_image" src="${ STATIC_URL }events/media/area_images/${ area.id}.jpg" alt="">
                        <div class="caption">
                            <h3>${ area.name }</h3>
                            <p>${ area.description }</p>
                        </div>
                    </div>
                </div>

              %endfor


            </div>
            <!-- /.row -->

            <!-- Title -->
            <div class="row">
                <div class="col-lg-12">
                    <h3>Products For Sale</h3>
                </div>
            </div>
            <!-- /.row -->

            <!-- Page Features -->
            <div class="row text-center items">

              %for product in products:

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img class="item_image" src="${ STATIC_URL }shop/media/product_images/${ product.id}.jpg" alt="">
                        <div class="caption">
                            <h3>${ product.name }</h3>
                            <p>${ product.description }</p>
                        </div>
                    </div>
                </div>

              %endfor


            </div>
            <!-- /.row -->

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright Your Website 2014</p>
                    </div>
                </div>
            </footer>

        </div>

</%block>
